---
import { Icon } from "astro-icon";
---

<main aria-labelledby="header" class="relative overflow-hidden py-12">
  <h2 class="sr-only" id="header">Header</h2>
  <div class="relative mx-auto px-8 max-w-7xl px-16 lg:px-24 md:px-12">
    <div class="mx-auto text-center">
      <div class="flex justify-center">
        <img
          src="https://r2.nguyentalk.com/cokie/logo.webp"
          alt="Quickstore Logo"
          class="logo animate-spin-slow max-w-[150px]"
        />
      </div>
      <h1
        class="font-bold mt-3 py-3 md:text-4xl text-3xl tracking-tight relative inline-block"
      >
        <span
          class="relative z-10 text-cokiey-500 font-borel"
        >
          Tiệm đồ tên Bánh
        </span>
      </h1>
      <div class="flex justify-center flex-col gap-3 sm:flex-row">
        <a
          class="items-center h-12 justify-center rounded-full duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full hover:bg-tomato-700 bg-negroni-200 focus-visible:outline-negroni-500 focus-visible:ring-negroni-500 font-medium hover:text-cokiey-500 lg:w-auto text-charcoal-500"
          href="https://www.instagram.com/cokie.typo"
          target="_blank">
          <Icon pack="mdi" name="instagram" class="w-5 mr-2" />
          <span class="mt-2">Instagram</span>
        </a>
        <a
          class="items-center h-12 justify-center rounded-full duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full hover:bg-negroni-900 bg-negroni-200 focus-visible:outline-negroni-500 focus-visible:ring-negroni-500 font-medium hover:text-negroni-500 lg:w-auto text-charcoal-500"
          href="https://www.tiktok.com/@cokie.typo"
          target="_blank">
          <Icon pack="ic" name="baseline-tiktok" class="w-5 mr-2" />
          <span class="mt-2">TikTok</span>
        </a>
        <a
          class="items-center h-12 justify-center rounded-full duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full hover:bg-tomato-900 bg-negroni-200 focus-visible:outline-negroni-500 focus-visible:ring-negroni-500 font-medium hover:text-cokiey-500 lg:w-auto text-charcoal-500"
          href="https://shopee.vn/cokie.typo"
          target="_blank"
        >
          <svg
            class="w-5 mr-2"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              ><path
                d="m4 7l.867 12.143a2 2 0 0 0 2 1.857h10.276a2 2 0 0 0 2-1.857L20.01 7h-16zm4.5 0c0-1.653 1.5-4 3.5-4s3.5 2.347 3.5 4"
              ></path><path
                d="M9.5 17c.413.462 1 1 2.5 1s2.5-.897 2.5-2s-1-1.5-2.5-2s-2-1.47-2-2c0-1.104 1-2 2-2s1.5 0 2.5 1"
              ></path></g
            ></svg
          >
          <span class="mt-2">Shopee</span>
        </a>
      </div>
    </div>
  </div>
</main>
