---
import { Icon } from "astro-icon";
---

<div class="relative mx-auto px-8 max-w-7xl p-12 lg:px-36 md:px-12">
    <div class="mx-auto text-center">
        <h1
            class="font-bold md:text-4xl text-3xl tracking-tight relative inline-block"
        >
            <span class="relative z-10 text-cokiey-500 px-4 py-2">
                Liên hệ
            </span>
            <span
                class="absolute inset-0 -z-10 transform skew-x-2 skew-y-1"
                style="background-color: #D3A8CD; clip-path: polygon(0% 15%, 5% 0%, 95% 0%, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0% 85%); border-radius: 12px;"
            ></span>
        </h1>
        <div class="flex justify-center flex-col gap-3 mt-6 sm:flex-row">
            <a
                class="items-center h-12 justify-center rounded-full duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full border-2 hover:bg-negroni-900 border-charcoal-200 bg-negroni-200 focus-visible:outline-negroni-200 focus-visible:ring-negroni-200 font-medium hover:border-negroni-200 hover:text-negroni-200 lg:w-auto text-charcoal-500"
                href="tel:+84869226821"
            >
                <Icon pack="ic" name="round-phone" class="w-5 mr-2" />
                <span class="mt-2">Gọi Hotline</span>
            </a>
            <a
                class="items-center h-12 justify-center rounded-full duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full border-2 hover:bg-negroni-900 border-charcoal-200 bg-negroni-200 focus-visible:outline-negroni-200 focus-visible:ring-negroni-200 font-medium hover:border-negroni-200 hover:text-negroni-200 lg:w-auto text-charcoal-500"
                href="mailto:cokie.typo@gmail.com"
            >
                <Icon pack="ic" name="outline-email" class="w-5 mr-2" />
                <span class="mt-2">Gửi Email</span>
            </a>
        </div>
    </div>
</div>
